BODY
{
	background-color: #0070AD;
	padding: 0px;
	margin: 0px;
	font-family: Arial, sans-serif;
	text-align: center;
	font-size: 12px;	
}

INPUT 
{
	border: 1px solid black;
}

A
{
	color: white;
}


#queryContainer
{
	background-color: #004368;
	color: #FFFFFF;
	font-size: 12pt;
	padding: 10px;
	font-weight: bold;
}

TABLE#results TD
{
	text-align: left;
	padding: 2px;
	font-size: 9pt;
	padding-left: 10pt;
	padding-right: 10pt;	
}

TABLE#results
{
    border-top: 5px solid #FF7B00;
	width: 90%;
}
TABLE#results TD
{
    background-color: #E6F6FF;
	border-bottom: 1px solid #0070AD;
}

TABLE#pager
{
    width:90%;
	color: #FFFFFF;
	background-color: #0070AD;
}
TABLE#pager TD
{
	padding: 0px;
	margin: 0px;
}
TABLE#pager A
{
	text-decoration: none;
	color: #000000;
	padding: 1px 8pt 1px 8pt;
	margin: 0px;
	font-size: 8pt;
}
TABLE#pager A.pageNumStyle
{
	background-color: #FFF2E6;
	border: 0px;
}
TABLE#pager A.pageCurrNumStyle
{
	background-color: #FF7B00;
	border-top: 2px solid #FF7B00;
	font-weight: bold;
}

#logo
{
    position:absolute;
    z-index:2007;
    top:20px;
    left:25px;
    width: 150px;
    height: 60px;
    font-size:10px;
    background-color: #004368;
    border: 1px solid white;
	font-weight: bold;
	overflow: hidden; 
}

.errorMessage
{
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 12pt; 
    padding: 5px;
}

.infoMessage
{
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 12pt; 
    padding: 5px;
}

#quickLinks
{
	font-size: 10pt;
}
#quickLinks A
{
	color: #FF7B00;
}

/* searchTabs */
#searchTabsContainer
{
    position:absolute;
    z-index:2007;
    top:52px;
    left:200px;
    margin-top:-2em;
}
#searchTabs
{
    height:2em;
}
#searchTabs TD.tab
{
    border-top: 1px solid white;
    padding: 0px 12px;
    color: white;
    font-size:14px;
    font-weight: bold;
}
#searchTabs TD.selected
{
	color: #FFFFFF;
	background-color: #FF7B00;
	border-bottom: 1px solid #FF7B00;
}
#searchTabs TD.spacer
{
    padding: 1px;
    border-right: 1px solid white;
    border-left: 1px solid white;    
}
#searchTabs TD a
{
	text-decoration:none;
}
#searchTabs TD a:hover
{
	color:#FF7B00;
}
/* searchForm */
#searchFormContainer
{ 
    background-color: #FF7B00; 
    border-bottom: 1px solid white; 
    border-top: 1px solid white;
    position:relative;     
}
#searchForm
{
    font-size:18px;
    min-height:30px;    
    background-color: #FF7B00;
    padding:10px 20px 10px 200px;
    margin:0px;
    white-space: nowrap;  
}
#searchForm INPUT
{
    font-size:20px;
}
#searchForm .fieldset
{
    padding-bottom:4px;
    font-size:20px;
}
/* searchResults */
#searchResultsContainer
{    
    margin: 10px;
}