BODY
{
	background-color: #0070AD;
	padding: 0px;
	margin: 0px;
	font-family: Arial, sans-serif;
	text-align: center;
	font-size: 10pt;
	padding-bottom: 50px;	
}

INPUT
{
	border: 1px solid #000000;
	padding: 1px 2pt 1px 2pt;
	font-size: 10pt;
}

INPUT.button
{
	color: #000000;
	background-color: #FFF2E6;
	padding: 1px 8pt 1px 8pt;
}
#queryContainer, #header
{
	background-color: #004368;
	color: #FFFFFF;
	font-size: 12pt;
	padding: 10px;
	font-weight: bold;
}

TABLE TD
{
	text-align: left;
	padding: 2px;
	font-size: 9pt;
	padding-left: 10pt;
	padding-right: 10pt;	
}

TABLE#results
{
    border-top: 5px solid #FF7B00;
	width: 90%;
}
TABLE#results TD
{
    background-color: #E6F6FF;
	border-bottom: 1px solid #0070AD;
}

TABLE#pager
{
    width:90%;
	color: #FFFFFF;
	background-color: #0070AD;
}
TABLE#pager TD
{
	padding: 0px;
	margin: 0px;
}
TABLE#pager A
{
	text-decoration: none;
	color: #000000;
	padding: 1px 8pt 1px 8pt;
	margin: 0px;
	font-size: 8pt;
}
TABLE#pager A.pageNumStyle
{
	background-color: #FFF2E6;
	border: 0px;
}
TABLE#pager A.pageCurrNumStyle
{
	background-color: #FF7B00;
	border-top: 2px solid #FF7B00;
	font-weight: bold;
}

#footer
{
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 5px;
	text-align: center;
	color: white;
	font-size: 10pt;
}

#footer A
{
	color: white;
}

.errorMessage
{
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 12pt; 
    padding: 5px;
}

.infoMessage
{
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 12pt; 
    padding: 5px;
}